.form-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-post-title{
   display: flex; 
  justify-content: space-between;
}
.form-input{
    width:80%;
}
.form-Image{
    width: 80%;
    display: flex;
     justify-content: space-evenly;
}
.form-status{
 width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.status{
    display: flex;
    align-items: center;
}
.form-status{
    
}
.button-post{
    margin-top: 20px;
    width:10rem;
}